.tmp*
.project
.settings/
node_modules/

.livereload

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db


# ignore files added by `npm install`

/array.js
/array/
/financial.js
/financial/
/function.js
/function/
/index.js
/lang.js
/lang/
/math.js
/math/
/number.js
/number/
/object.js
/object/
/queryString.js
/queryString/
/random.js
/random/
/string.js
/string/
/time.js
/time/
