# =======
# default
# =======

.tmp*
.project
.settings/
.livereload

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

npm-debug.log


# ================
# project specific
# ================

# ignore node_modules since user can `npm install --dev`
node_modules/

# ignore coverage reports since they change at each build
coverage/

# ignore HTML docs since they are only useful for gh-pages branch
doc_html/

# these files are only needed by testling
tests/testling/


# -----------------------------------
# ignore files added by `npm publish`
# -----------------------------------

/array.js
/array/
/collection.js
/collection/
/date/
/date.js
/financial.js
/financial/
/function.js
/function/
/index.js
/lang.js
/lang/
/math.js
/math/
/number.js
/number/
/object.js
/object/
/queryString.js
/queryString/
/random.js
/random/
/string.js
/string/
/time.js
/time/

