.tmp*
.project
.settings/
.livereload

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db


# ----


# no need to keep 3rd party tests
test*/
spec*/
test*/
spec*/
example*/
# but we do keep ours
!/test*/
!/example*/


# we ignore coverage reports since they change at each build
coverage/


# ----


# ignore files added by `npm install`

/array.js
/array/
/collection.js
/collection/
/financial.js
/financial/
/function.js
/function/
/index.js
/lang.js
/lang/
/math.js
/math/
/number.js
/number/
/object.js
/object/
/queryString.js
/queryString/
/random.js
/random/
/string.js
/string/
/time.js
/time/
