# dumb files
# ==========

.tmp*
.project
.settings/
.livereload
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db


# stuff not needed by node
# ========================

node_modules/
tests/
_build/
doc_html/
coverage/
src/

# we keep the doc/ folder in case npm decides to display it in the future
# also good in case user is using an old version or working offline

build.js