{{> header}}
<ul id="topnav">
    <li><a href="{{root_path}}index.html">Index</a></li>
    <li><a href="#toc">TOC</a></li>
    <li><a id="inject-link" href="#/inject" title="Inject modules into a 'utils' object on the global scope so you can use the browser console to test them.">Console<sup>?</sup></a></li>
</ul>
{{{content}}}
{{> footer}}
