{{> header}}
<a class="fork" href="http://github.com/millermedeiros/amd-utils/">
    <img alt="Fork me on GitHub" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>
{{{content}}}
<h2>Modules</h2>
{{#modules}}
<div class="mod">
    <h3><a href="{{file}}">{{module}}</a></h3>
    <ul>
        {{#toc}}
        <li><a href="{{../file}}#{{href}}">{{name}}</a></li>
        {{/toc}}
    </ul>
</div>
{{/modules}}
{{> footer}}
